workflows_v2.json
[
  {
    "updatedAt": "2025-12-22T00:20:41.000Z",
    "createdAt": "2025-12-08T02:11:17.917Z",
    "id": "MPytJMRKmEoHNE2r",
    "name": "My workflow 2",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "jsCode": "for (const item of items) {\n  let raw = item.json.body.logo_base64 || '';\n  if (typeof raw === 'string') {\n    // This removes the header if it exists\n    let payload = raw.includes('base64,') ? raw.split('base64,')[1] : raw;\n    // This removes any spaces or invisible characters that break OpenAI\n    payload = payload.replace(/[^A-Za-z0-9+/=]/g, '');\n    // This rebuilds the perfect link for the AI to read\n    item.json.formatted_image_url = `data:image/png;base64,${payload}`;\n  }\n}\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -176,
          -64
        ],
        "id": "3ee8afbf-966b-4f9e-af08-c196cdc32a16",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://presspilotapp.com/api/generate",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"business_name\": \"{{ $node[\"Code in JavaScript\"].json[\"business_name\"] }}\",\n  \"business_type\": \"{{ $node[\"Code in JavaScript\"].json[\"industry\"] }}\",\n  \"strategy\": \"pattern_assembly\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          32,
          -64
        ],
        "id": "03768e80-4189-4a2f-b374-ebac75c8a805",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "gJ7rg61OMiNj39iB",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "formTitle": "Success Pizza",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Business Name"
              },
              {
                "fieldLabel": "Industry"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.3,
        "position": [
          -368,
          -64
        ],
        "id": "45ce7e94-7900-49c6-bc54-da0970e47b4e",
        "name": "On form submission",
        "webhookId": "38db5ba3-ab2b-49b7-84d3-4d78b1d2cc15"
      },
      {
        "parameters": {
          "amount": 2,
          "unit": "seconds"
        },
        "id": "1644802e-7315-4747-a120-b04f4e6de87f",
        "name": "Wait for FS",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          150,
          -64
        ]
      },
      {
        "parameters": {
          "operation": "compress",
          "outputFormat": "zip",
          "binaryPropertyName": "data",
          "fileName": "={{ $node[\"Code in JavaScript\"].json[\"business_name\"] }}.zip",
          "sourcePath": "/tmp/presspilot-build/themes/"
        },
        "name": "Compression",
        "type": "n8n-nodes-base.compression",
        "typeVersion": 1,
        "position": [
          350,
          -64
        ],
        "id": "5a4f15d2-0949-4363-9524-7667389a9578"
      },
      {
        "parameters": {
          "model": "gpt-4o",
          "options": {
            "jsonOutput": true
          },
          "messages": {
            "values": [
              {
                "role": "system",
                "content": "Role: You are the Color Architect for PressPilot. Task: Analyze the logo from the formatted_image_url. Goal: Extract the 2 most dominant colors. Strict Output: Return ONLY a raw JSON object like this: { \"primary_hex\": \"#HEXCODE\", \"secondary_hex\": \"#HEXCODE\" }."
              },
              {
                "role": "user",
                "content": "={{ $json.formatted_image_url }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.openAi",
        "typeVersion": 1,
        "position": [
          -72,
          -64
        ],
        "id": "analyze-image-auto-gen",
        "name": "Analyze Image",
        "credentials": {
          "openAiApi": {
            "id": "please_configure_id",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://factory.presspilotapp.com/wp-json/wp/v2/global-styles?is_global=true",
          "authentication": "wordpressApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          50,
          -200
        ],
        "id": "get-global-styles-id",
        "name": "Get Global Styles ID",
        "credentials": {
          "wordpressApi": {
            "id": "wp_auth_cred_id",
            "name": "WordPress account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ `https://factory.presspilotapp.com/wp-json/wp/v2/global-styles/${$node[\"Get Global Styles ID\"].json[0].id}` }}",
          "authentication": "wordpressApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"settings\": {\n    \"color\": {\n      \"palette\": {\n        \"theme\": [\n          { \n            \"slug\": \"brand-primary\", \n            \"color\": \"{{ $node[\"Analyze Image\"].json[\"primary_hex\"] }}\", \n            \"name\": \"Brand Primary\" \n          },\n          { \n            \"slug\": \"brand-secondary\", \n            \"color\": \"{{ $node[\"Analyze Image\"].json[\"secondary_hex\"] }}\", \n            \"name\": \"Brand Secondary\" \n          }\n        ]\n      }\n    }\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          250,
          -200
        ],
        "id": "update-global-styles",
        "name": "Update Global Styles",
        "credentials": {
          "wordpressApi": {
            "id": "wp_auth_cred_id",
            "name": "WordPress account"
          }
        }
      }
    ],
    "connections": {
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Analyze Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze Image": {
        "main": [
          [
            {
              "node": "Get Global Styles ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Global Styles ID": {
        "main": [
          [
            {
              "node": "Update Global Styles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Global Styles": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Wait for FS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On form submission": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait for FS": {
        "main": [
          [
            {
              "node": "Compression",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compression": {
        "main": [
          []
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "22917f9d-f150-4d3a-93f9-4155157ff456",
    "activeVersionId": "22917f9d-f150-4d3a-93f9-4155157ff456",
    "versionCounter": 27,
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2025-12-08T02:11:17.925Z",
        "createdAt": "2025-12-08T02:11:17.925Z",
        "role": "workflow:owner",
        "workflowId": "MPytJMRKmEoHNE2r",
        "projectId": "MvbsIwVMJEa61Ugu",
        "project": {
          "updatedAt": "2025-12-07T16:53:24.326Z",
          "createdAt": "2025-12-07T16:45:48.258Z",
          "id": "MvbsIwVMJEa61Ugu",
          "name": "Omar Django <odjango4@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null
        }
      }
    ]
  }
]