workflows_v3_presspilot.json
[
    {
        "updatedAt": "2026-01-23T20:45:00.000Z",
        "createdAt": "2025-12-08T02:11:17.917Z",
        "id": "MPytJMRKmEoHNE2r-v3",
        "name": "PressPilot V3",
        "description": "PressPilot Generator V3 with Industry Logic",
        "active": true,
        "isArchived": false,
        "nodes": [
            {
                "parameters": {
                    "jsCode": "for (const item of items) {\n  let raw = item.json.body.logo_base64 || '';\n  if (typeof raw === 'string') {\n    // This removes the header if it exists\n    let payload = raw.includes('base64,') ? raw.split('base64,')[1] : raw;\n    // This removes any spaces or invisible characters that break OpenAI\n    payload = payload.replace(/[^A-Za-z0-9+/=]/g, '');\n    // This rebuilds the perfect link for the AI to read\n    item.json.formatted_image_url = `data:image/png;base64,${payload}`;\n  }\n}\nreturn items;"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -176,
                    -64
                ],
                "id": "3ee8afbf-966b-4f9e-af08-c196cdc32a16",
                "name": "Code in JavaScript"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://presspilotapp.com/api/generate",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify($json.api_payload) }}",
                    "options": {}
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.3,
                "position": [
                    32,
                    -64
                ],
                "id": "03768e80-4189-4a2f-b374-ebac75c8a805",
                "name": "HTTP Request",
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "gJ7rg61OMiNj39iB",
                        "name": "Header Auth account"
                    }
                }
            },
            {
                "parameters": {
                    "formTitle": "Success Pizza",
                    "formFields": {
                        "values": [
                            {
                                "fieldLabel": "Business Name"
                            },
                            {
                                "fieldLabel": "Industry"
                            }
                        ]
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.formTrigger",
                "typeVersion": 2.3,
                "position": [
                    -368,
                    -64
                ],
                "id": "45ce7e94-7900-49c6-bc54-da0970e47b4e",
                "name": "On form submission",
                "webhookId": "38db5ba3-ab2b-49b7-84d3-4d78b1d2cc15"
            },
            {
                "parameters": {
                    "amount": 2,
                    "unit": "seconds"
                },
                "id": "1644802e-7315-4747-a120-b04f4e6de87f",
                "name": "Wait for FS",
                "type": "n8n-nodes-base.wait",
                "typeVersion": 1,
                "position": [
                    150,
                    -64
                ]
            },
            {
                "parameters": {
                    "operation": "compress",
                    "outputFormat": "zip",
                    "binaryPropertyName": "data",
                    "fileName": "={{ $node[\"Code in JavaScript\"].json[\"business_name\"] }}.zip",
                    "sourcePath": "/tmp/presspilot-build/themes/"
                },
                "name": "Compression",
                "type": "n8n-nodes-base.compression",
                "typeVersion": 1,
                "position": [
                    350,
                    -64
                ],
                "id": "5a4f15d2-0949-4363-9524-7667389a9578"
            },
            {
                "parameters": {
                    "model": "gpt-4o",
                    "options": {
                        "jsonOutput": true
                    },
                    "messages": {
                        "values": [
                            {
                                "content": "Analyze the business description. You must output a JSON object with:\n- 'industry': strictly one of ['ecommerce', 'restaurant', 'portfolio', 'fitness', 'business'].\n- 'hero_headline': A catchy 5-word headline.\n- 'hero_subheadline': A persuasive subheadline."
                            },
                            {
                                "role": "user",
                                "content": "Business Name: {{ $node[\"Code in JavaScript\"].json[\"business_name\"] }}\nIndustry: {{ $node[\"Code in JavaScript\"].json[\"industry\"] }}\nContext/Image: ={{ $json.formatted_image_url }}"
                            }
                        ]
                    }
                },
                "type": "n8n-nodes-base.openAi",
                "typeVersion": 1,
                "position": [
                    -72,
                    -64
                ],
                "id": "analyze-image-auto-gen",
                "name": "Menu Architect",
                "credentials": {
                    "openAiApi": {
                        "id": "please_configure_id",
                        "name": "OpenAI account"
                    }
                }
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://factory.presspilotapp.com/wp-json/presspilot/v1/bake",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={\n  \"industry\": \"{{ $json.industry }}\",\n  \"site_title\": \"{{ $node[\"Menu Architect\"].json[\"site_title\"] }}\",\n  \"primary_color\": \"{{ $node[\"Menu Architect\"].json[\"primary_color\"] }}\",\n  \"full_site_content\": \"{{ $node[\"Menu Architect\"].json[\"full_site_content\"] }}\"\n}",
                    "options": {}
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.3,
                "position": [
                    250,
                    176
                ],
                "id": "update-global-styles",
                "name": "Update Global Styles"
            }
        ],
        "connections": {
            "Code in JavaScript": {
                "main": [
                    [
                        {
                            "node": "Menu Architect",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Menu Architect": {
                "main": [
                    [
                        {
                            "node": "Update Global Styles",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Update Global Styles": {
                "main": [
                    [
                        {
                            "node": "HTTP Request",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "HTTP Request": {
                "main": [
                    [
                        {
                            "node": "Wait for FS",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "On form submission": {
                "main": [
                    [
                        {
                            "node": "Code in JavaScript",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Wait for FS": {
                "main": [
                    [
                        {
                            "node": "Compression",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Compression": {
                "main": [
                    []
                ]
            }
        },
        "settings": {
            "executionOrder": "v1"
        },
        "staticData": null,
        "meta": {
            "templateCredsSetupCompleted": true
        },
        "pinData": {},
        "versionId": "22917f9d-f150-4d3a-93f9-4155157ff456-v3",
        "activeVersionId": "22917f9d-f150-4d3a-93f9-4155157ff456",
        "versionCounter": 27,
        "triggerCount": 1,
        "tags": [],
        "shared": []
    }
]