n8n/factory-webhook-workflow.json
{
  "name": "PressPilot Factory Generator",
  "nodes": [
    {
      "parameters": {
        "path": "build-site",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 0],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook Trigger",
      "webhookId": "build-site-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Transform frontend form data to Factory API format\nconst input = items[0].json;\n\n// Map frontend businessType to Factory API category\nconst categoryMap = {\n  'Restaurant / Food Service': 'restaurant',\n  'Real Estate / Architecture': 'realestate',\n  'Tech / SaaS': 'startup',\n  'Health / Wellness': 'fitness',\n  'Creative Agency': 'agency',\n  'E-commerce': 'ecommerce',\n  'Personal Portfolio': 'corporate'\n};\n\n// Handle field name variations from proxy\nconst businessName = input.business_name || input.businessName || 'My Business';\nconst businessType = input.industry || input.businessType || 'corporate';\nconst category = categoryMap[businessType] || 'corporate';\n\nreturn [{\n  json: {\n    businessName: businessName,\n    tagline: input.tagline || '',\n    description: input.description || '',\n    category: category,\n    colors: {\n      primary: '#1e40af',\n      secondary: '#64748b',\n      accent: '#f59e0b',\n      background: '#ffffff',\n      text: '#1f2937'\n    },\n    logo: input.logo_base64 || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 0],
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Transform Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://factory.presspilotapp.com/wp-json/presspilot/v1/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-PressPilot-Key",
              "value": "pp_factory_2026_109540718b67c8f1acb967948eecf2e1"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Call Factory API"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: $json.success || true, original: $json.downloads?.theme_zip || $json.preview_url || 'https://factory.presspilotapp.com', high_contrast: $json.downloads?.theme_zip || 'https://factory.presspilotapp.com', inverted: $json.downloads?.static_zip || 'https://factory.presspilotapp.com', theme_zip: $json.downloads?.theme_zip || null, static_zip: $json.downloads?.static_zip || null, generation_id: $json.generation_id || null, pages_created: $json.pages_created || 0, duration: $json.duration || '0s' } }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [200, 0],
      "id": "d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "Return URLs"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Transform Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Input": {
      "main": [
        [
          {
            "node": "Call Factory API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Factory API": {
      "main": [
        [
          {
            "node": "Return URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "active": false
}
