Project Extras/legacy-folders/n8n/presspilot-factory-final.json
{
  "name": "PressPilot Factory Generator",
  "nodes": [
    {
      "parameters": {
        "path": "build-site",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "f1a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 340],
      "webhookId": "presspilot-build-site"
    },
    {
      "parameters": {
        "jsCode": "// PressPilot Factory - Transform Input\n// Maps frontend form data to Factory API format\n\nconst input = items[0].json;\n\n// Debug: log incoming data\nconsole.log('Received input:', JSON.stringify(input, null, 2));\n\n// Map frontend businessType to Factory API category\nconst categoryMap = {\n  'Restaurant / Food Service': 'restaurant',\n  'Real Estate / Architecture': 'realestate', \n  'Tech / SaaS': 'startup',\n  'Health / Wellness': 'fitness',\n  'Creative Agency': 'agency',\n  'E-commerce': 'ecommerce',\n  'Personal Portfolio': 'corporate'\n};\n\n// Handle field name variations from proxy\nconst businessName = input.business_name || input.businessName || 'My Business';\nconst tagline = input.tagline || '';\nconst description = input.description || '';\nconst businessType = input.industry || input.businessType || 'corporate';\nconst category = categoryMap[businessType] || 'corporate';\nconst logo = input.logo_base64 || input.logo || null;\n\n// Build the Factory API payload\nconst payload = {\n  businessName: businessName,\n  tagline: tagline,\n  description: description,\n  category: category,\n  colors: {\n    primary: '#1e40af',\n    secondary: '#64748b',\n    accent: '#f59e0b',\n    background: '#ffffff',\n    text: '#1f2937'\n  }\n};\n\n// Only add logo if present\nif (logo) {\n  payload.logo = logo;\n}\n\nconsole.log('Sending to Factory:', JSON.stringify(payload, null, 2));\n\nreturn [{ json: payload }];"
      },
      "id": "a2b3c4d5-e6f7-4a8b-9c0d-1e2f3a4b5c6d",
      "name": "Transform Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://factory.presspilotapp.com/wp-json/presspilot/v1/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-PressPilot-Key",
              "value": "pp_factory_2026_109540718b67c8f1acb967948eecf2e1"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "b3c4d5e6-f7a8-4b9c-0d1e-2f3a4b5c6d7e",
      "name": "Call Factory API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": {{ $json.success !== false }},\n  \"original\": \"{{ $json.downloads?.theme_zip || $json.preview_url || 'https://factory.presspilotapp.com' }}\",\n  \"high_contrast\": \"{{ $json.downloads?.theme_zip || 'https://factory.presspilotapp.com' }}\",\n  \"inverted\": \"{{ $json.downloads?.static_zip || 'https://factory.presspilotapp.com' }}\",\n  \"theme_zip\": \"{{ $json.downloads?.theme_zip || '' }}\",\n  \"static_zip\": \"{{ $json.downloads?.static_zip || '' }}\",\n  \"generation_id\": \"{{ $json.generation_id || '' }}\",\n  \"pages_created\": {{ $json.pages_created || 0 }},\n  \"duration\": \"{{ $json.duration || '0s' }}\"\n}",
        "options": {}
      },
      "id": "c4d5e6f7-a8b9-4c0d-1e2f-3a4b5c6d7e8f",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 340]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Transform Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Input": {
      "main": [
        [
          {
            "node": "Call Factory API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Factory API": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
